<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Videoteka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Videoteka</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a  id="visibleIfNotLogin1" class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a  id="visibleIfNotLogin2" class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Signup">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a  id="visibleIfLogin1" class="nav-link text-dark" asp-area="" asp-controller="Film" asp-action="Index">Filmovi</a>
                        </li>
                        <li class="nav-item">
                            <a  id="visibleIfLogin2" class="nav-link text-dark" asp-area="" asp-controller="Film" asp-action="PosudeniFilmovi">Posudeni filmovi</a>
                        </li>
                        <li class="nav-item">
                            <a  id="visibleIfLogin3" class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Logout">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Videoteka - Petar Tominić
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function() {
          checkCookie();
        });

        function checkCookie() {
            var privacy = getCookie("ID");
            if (privacy != '') {
                $("#visibleIfLogin1").show();
                $("#visibleIfLogin2").show();
                $("#visibleIfLogin3").show();
                $("#visibleIfNotLogin1").hide();
                $("#visibleIfNotLogin2").hide();

          } else {
                // show cookie modal
                $("#visibleIfLogin1").hide();
                $("#visibleIfLogin2").hide();
                $("#visibleIfLogin3").hide();
                $("#visibleIfNotLogin1").show();
                $("#visibleIfNotLogin2").show();
          }
        }

        function getCookie(cookieName) {
          var name = cookieName + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }
    </script>
</body>
</html>
